@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
    background-color: #FFFFFF;
    width: 10px;

}

body::-webkit-scrollbar-thumb {
    background-color: #000000;
}